/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
body {
    font-family: 'Roboto', sans-serif;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: aqua;
}

main {
    height: calc(100% - 90px);
    width: 100%;
    overflow-y: hidden;
}

/* .standard_link {
    text-decoration: none;
} */

/* MAIN_NAV */
.main_nav {
    float: left;
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    overflow-y: hidden;
    background-color: black;
    color: #A3A3A3;
}

a {
    color: #A3A3A3;
    text-decoration: none;
    font-weight: 500;
}

.main_nav img {
    vertical-align: middle;
}

.main_nav a:hover {
    color: white;
}
.main_nav a:hover .fa-plus {
    background-color: white;
}

.link_home {
    border-left: 2px solid #ADFE2E;
}

.nav_item {
    width: 100%;
    padding: 5px 15px;
}


.logo img {
    height: 50px;
}

.nav_menu_icon {
    height: 30px;
    margin-right: 8px;
}

.home_list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.playlist_create .fa-plus {
    color: black;
    background-color: #A3A3A3;
    font-size: 20px;
    padding: 5px;
    margin-right: 8px;
}

.playlist h4 {
    color: white;
    text-transform: uppercase;
}

.playlist_list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100px;
    overflow: auto;
}
.playlist_list a {
    margin: 5px 0;
}
.playlist_list ul li{
    list-style: none;
}

.bottom_nav {
    padding: 0 15px;
}
.download {
    padding: 15px 0;
    border-bottom: 1px solid #A3A3A3;
}

.download img {
    height: 1em;
    vertical-align: middle;
    margin-right: 8px;
}

.utente {
    padding: 15px 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.utente img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: grey;
    vertical-align: middle;
    margin-right: 8px;
}

/* LITTLE_NAV */
.little_nav {
    float: left;
    display: none;
    flex-direction: column;
    height: 100%;
    width: 80px;
    overflow-y: hidden;
    background-color: black;
    color: #A3A3A3;
    align-items: center;
}

.l_nav_item {
    width: 40%;
    flex-basis: 40px;
}
.down {
    width: 25%;
}
.little_nav img {
    width: 100%;
}

.profile img{
    border-radius: 100%;
    background: grey;
}

.stretch {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100px;
    overflow: auto;
}

/* MAIN_CONTENT */
.main_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 300px);
    overflow-y: auto;
    background-color: darkgrey;
}

.head_cont, 
.foot_cont {
    height: 100px;
}
.central {
    flex: 1 1 auto;
    overflow-y: scroll;
}


/* FOOTER */
footer {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #282828;
    color: #A3A3A3;
    justify-content: space-between;
}

.foot_sx,
.foot_dx {
    display: flex;
    /* width: 300px; */
    height: 100%;
    padding: 10px;
    align-items: center;
    max-width: 300px;
}

.foot_sx img {
    height: 80%;
    flex-shrink: 1;
}

.mid {
    /* flex: 1 1 auto; */
    padding: 0 10px;
    flex-shrink: 1;
}

.foot_sx .far {
    font-size: 20px;
}

.foot_sx .author:hover {
    color: white;
}
.foot_sx .title:hover {
    color: white;
    text-decoration: underline;
}
.foot_sx .far:hover {
    color: white;
}

.foot_center {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.commands {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.foot_center i {
    font-size: large;
    padding: 5px 10px;
}
.foot_center .fa-play-circle {
    font-size: xx-large;
}

.info_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_bar {
    flex-basis: 50%;
    height: 3px;
    min-width: 100px;
    background-color: #A3A3A3;
    border-radius: 5px;
    margin: 0 10px;
}

.volume_bar {
    flex: 1 1 auto;
    height: 3px;
    min-width: 70px;
    max-width: 200px;
    background-color: #A3A3A3;
    border-radius: 5px;
    margin: 0 10px;
}

.foot_dx {
    justify-content: space-between;
    color: white;
}
.foot_dx i {
    padding: 0 10px;
}

/* RESPONSIVE PER SCHERMI <600px */
@media screen and (max-width:600px) {
    .flip {
        display: flex;
        align-items: center;
    }
    .hide {
        display: none;
    }
    .main_content {
        width: calc(100% - 80px);
    }
}