/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 10;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background-color: aqua;
}

main {
    height: calc(100% - 90px);
    width: 100%;
    overflow-y: hidden;
}

/* .standard_link {
    text-decoration: none;
} */

/* MAIN_NAV */
.main_nav {
    float: left;
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    overflow-y: hidden;
    background-color: black;
    color: #A3A3A3;
}

a {
    color: #A3A3A3;
    text-decoration: none;
    font-weight: 500;
}

.main_nav img {
    vertical-align: middle;
}

.main_nav a:hover {
    color: white;
}
.main_nav a:hover .fa-plus {
    background-color: white;
}

.link_home {
    border-left: 2px solid #ADFE2E;
}

.nav_item {
    width: 100%;
    padding: 5px 15px;
}


.logo img {
    height: 50px;
}

.nav_menu_icon {
    height: 30px;
    margin-right: 8px;
}

.home_list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.playlist_create .fa-plus {
    color: black;
    background-color: #A3A3A3;
    font-size: 20px;
    padding: 5px;
    margin-right: 8px;
}

.playlist h4 {
    color: white;
    text-transform: uppercase;
}

.playlist_list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100px;
    overflow: auto;
}
.playlist_list a {
    margin: 5px 0;
}
.playlist_list ul li{
    list-style: none;
}

.bottom_nav {
    padding: 0 15px;
}
.download {
    padding: 15px 0;
    border-bottom: 1px solid #A3A3A3;
}

.download img {
    height: 1em;
    vertical-align: middle;
    margin-right: 8px;
}

.utente {
    padding: 15px 0;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.utente img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background: grey;
    vertical-align: middle;
    margin-right: 8px;
}

/* LITTLE_NAV */
.little_nav {
    float: left;
    display: none;
    flex-direction: column;
    height: 100%;
    width: 80px;
    overflow-y: hidden;
    background-color: black;
    color: #A3A3A3;
    align-items: center;
}

.l_nav_item {
    width: 40%;
    flex-basis: 40px;
}
.down {
    width: 25%;
}
.little_nav img {
    width: 100%;
}

.profile img{
    border-radius: 100%;
    background: grey;
}

.stretch {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 100px;
    overflow: auto;
}

/* MAIN_CONTENT */
.main_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 300px);
    overflow-y: auto;
    background-color: #141922;
}

/* head_cont --- fascia con trasparenza e bottone uprgrade*/ 
.head_cont {
    text-align: right;
    height: 80px;
    background: rgba(0, 0, 0, 0.73);
    line-height: 80px;
}
.head_cont a {
    color: white;
}
.btn_upgrade {
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    text-transform: uppercase;
}
.btn_upgrade:hover {
    font-size: 1.1em;
    transition: 0.2s linear;
}

/* central --- contenitore principale */
.central {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: scroll;
    padding: 20px;
}

.central h2 {
    color: white;
    margin-bottom: 10px;
}
.central>h5 {
    color: #A3A3A3;
}
.central ul {
    margin: 20px 0;
}

.nav_central {
    display: flex;
    justify-content: center;
    line-height: 2em;
    text-transform: uppercase;
    list-style: none;
    flex-wrap: wrap;
}
.menu_el {
    position: relative;
    padding: 0 15px;
}
.menu_el a:hover {
    color: white;
}

.menu_el span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 30%;
    background: #ADFE2E;
}

.song_list {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    list-style: none;
}

.song_item {
    flex-basis: calc(100% / 6); 
    padding: 0 10px;  
    text-align: center;
}
.song_cover {
    float: left;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.song_cover img {
    width: 100%;
}
.song_title {
    color: white;
    margin: 10px 0;
}
.song_subtitle {
    color: #A3A3A3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    color: white;
}
.overlay i {
    font-size: 4em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.song_item:hover {
    cursor: pointer;
}
.song_item:hover .overlay {
    visibility: visible;
}

#popolar_artists img {
    border-radius: 50%;
}


/* FOOTER */
footer {
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #282828;
    color: #A3A3A3;
    justify-content: space-between;
}

.foot_sx,
.foot_dx {
    display: flex;
    height: 100%;
    padding: 10px;
    align-items: center;
}

.foot_sx img {
    height: 80%;
    flex-shrink: 1;
}

.mid {
    padding: 0 10px;
    flex-shrink: 1;
}

.foot_sx .far {
    font-size: 20px;
}

.foot_sx .author:hover {
    color: white;
}
.foot_sx .title:hover {
    color: white;
    text-decoration: underline;
}
.foot_sx .far:hover {
    color: white;
}

.foot_center {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 200px;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}
.commands {

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.foot_center i {
    font-size: large;
    padding: 5px 10px;
}
.foot_center .fa-play-circle {
    font-size: 2em;
}
.foot_center .fa-play-circle:hover {
    transform: scale(1.1);
}


.info_bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status_bar {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    height: 3px;
    min-width: 100px;
    background-color: #A3A3A3;
    border-radius: 5px;
    margin: 0 10px;
}
.advance_bar {
    width: 30%;
    height: 100%;
    background-color:#BFBFBF;
}
.pointer {
    visibility: hidden;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: white;
}
.info_bar:hover .advance_bar {
    background-color: #ADFE2E;
}
.info_bar:hover .pointer {
    visibility: visible;
}

.volume_bar {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    height: 3px;
    min-width: 50px;
    background-color: #A3A3A3;
    border-radius: 5px;
}
.volume_bar:hover .advance_bar {
    background-color: #ADFE2E;
}
.volume_bar:hover .pointer {
    visibility: visible;
}

.foot_dx {
    width: 200px;
    justify-content: space-between;
    color: white;
}

/* RESPONSIVE PER SCHERMI <600px */
@media screen and (max-width:600px) {
    .flip {
        display: flex;
        align-items: center;
    }
    .hide {
        display: none;
    }
    .main_content {
        width: calc(100% - 80px);
    }

    .song_item {
        width: calc(100% / 2);
    }

    .song_list {
        flex-wrap: wrap;
    }

}

/* RESPONSIVE xs */
@media screen and (min-width:600px) and (max-width:768px) {
    .song_item {
        width: calc(100% / 2);
    }

    .song_list {
        flex-wrap: wrap;
    }
}

/* RESPONSIVE sm */
@media screen and (min-width:768px) and (max-width:900px) {
    .song_item {
        width: calc(100% / 2);
    }

    .song_list {
        flex-wrap: wrap;
    }
}

/* RESPONSIVE md */
@media screen and (min-width:900px) and (max-width:1170px) {
    .song_item {
        width: calc(100% / 4);
    }

    .song_list {
        flex-wrap: wrap;
    }
}